apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: csi-ctl-load
  labels:
    app: csi-ctl-load
spec:
  replicas: 10
  selector:
    matchLabels:
      app: csi-ctl-load
  persistentVolumeClaimRetentionPolicy:
    whenDeleted: "Delete"
  podManagementPolicy: "Parallel"
  template:
    metadata:
      labels:
        app: csi-ctl-load
    spec:
      affinity:
        podAntiAffinity:
          # PREFERRED: Tries to spread pods across nodes, but will stack if necessary.
          # Safest option for 100 replicas.
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - csi-ctl-load
              topologyKey: kubernetes.io/hostname
      terminationGracePeriodSeconds: 0
      containers:
      - name: ubi
        # Using UBI 9 from Red Hat's official registry
        image: registry.access.redhat.com/ubi9/ubi:latest
        # Crucial: Keeps the container running. Without this, UBI exits immediately.
        command: ["/bin/sh", "-c"]
        args:
          - |
            set -ex
            PATTERN=openshift 
            
            cd /dev
            if grep -m1 "$PATTERN" csi-pvc ;
            then echo "Pattern is already on disk, only checking"
            else echo "Pattern is not on disk, writing it ..." ; yes $PATTERN | head -c 900M | dd oflag=nonblock of=csi-pvc ;
            fi ;
            ORIG_CK=$(yes $PATTERN | head -c 900M | sha256sum)
            for N in 1 2 3 ;
            do
              PVC_CK=$(head -c 900M csi-pvc | sha256sum)
              if [[ "$ORIG_CK" == "$PVC_CK" ]];
              then echo "CK OK should $ORIG_CK is $PVC_CK" ;
              else echo "CK FAILED should $ORIG_CK is $PVC_CK" ;
              fi ;
              sleep 10
            done
            sleep inf
        volumeDevices:
        - name: csi-pvc
          devicePath: /dev/csi-pvc
  volumeClaimTemplates:
  - metadata:
      name: csi-pvc
    spec:
      accessModes: ["ReadWriteMany"]
      volumeMode: "Block"
      storageClassName: "ocs-storagecluster-ceph-rbd-virtualization"
      # Omitted storageClassName to use the cluster's default storage class
      resources:
        requests:
          storage: 20Gi
